{% extends "notes/base_notes.html" %}

{% block title %} Categories {% endblock %}

{% block content %}
    <div class="object_description">
        Categories have 3 level of imbrication <br>
        Notes and Bookmarks can't be attached directly to a "root" category
    </div>
    <br>
    {% include 'category/snippet_form_category.html' %}
     
    
    {% if all_communities_list %}
        
        {% for community in all_communities_list %}
            
            <button style="margin-top: 20px;margin-bottom: 5px" class="btn btn-default btn-lg btn-block" type="button">
                <span class="glyphicon glyphicon-user"></span>
                    {{community.community.title}}
                    {% if not community.community.is_shared %}
                        <span class="glyphicon glyphicon-lock"></span>
                    {% else %}
                        ({{community.community.get_contributors|length}} user)
                    {% endif %}
                    {% if community.community.owner != user %}
						<span class="glyphicon glyphicon-globe"></span>
                        [{{community.community.owner}}]
					{% endif %}
            </button>
         
            {% if community.community.get_root_categories_by_community|length > 0%}
                <div class="row">
                <ul class="list list-group">
                {% for cat in community.community.get_root_categories_by_community %}
                    {% include 'category/snippet_category_list_item.html' %}
                {% endfor %}
                </ul>
                </div>
            {%else%}
                <div class="alert alert-info">No category in this community yet</div>
            {% endif %}
        {% endfor %}
        
    {% else %}
        <div class="alert alert-info">You don't have personal community</div>
    {% endif %}
    
    
    {% comment%}
    {% if shared_communities %}
        {% for community in shared_communities %}
            <button  style="margin-top: 20px;margin-bottom: 5px" class="btn btn-default btn-lg btn-block" type="button">
                <span class="glyphicon glyphicon-globe"></span>  {{community.community.title}} ({{community.community.owner}})
                {% if community.user_visa == 1 %}
                    <span class="glyphicon glyphicon-ok" style="color:#56db3a"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove" style="color: red"></span>
                {% endif %}
            </button>
            <div class="row">
            <ul class="list list-group">
            {% for cat in community.community.get_root_categories_by_community %}
                {% include 'category/snippet_category_list_item.html' %}
            {% endfor %}
            </ul>
        {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">You don't have shared community</div>
    {% endif %}
    {% endcomment %}
{% endblock %}