<div class="col-lg-3">
<li class="list-group-item" style="padding: 2px 2px 2px 2px">
    <div class="tab-content">
    <h5 style="text-align: center">
    {% if cat.category_set.all|length == 0%}
        <span style="color: red;" data-toggle="tooltip" data-placement="right" title="you have to create subcategories to add notes or bookmarsk">{{cat.name}}</span>
    {% else %}
        <b class="category-name">{{cat.name}}</b>
    {% endif %}
        <a href="{% url 'category_update' cat.id %}">
            <button style="float: right" type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
    </h5>
    <div class="list-group" style="margin-bottom: 0px;text-align: center;">
        {% for kid in cat.category_set.all %}
                
                <a class="subcategory-name list-group-item" style="padding: 2px 15px" href="{% url 'category_update' kid.id %}">
                    {{kid.name}}
                    {%comment%}
                    <button style="float: right" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    {%endcomment%}
                </a>
            <ul>
                {% for grandkid in kid.category_set.all %}
                    <li>
                        {{grandkid.name}}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</li>
</div>