<div id="category-list" class="list-group launcher category-list">
    <h5>
        Categories
        <a href="{% url 'category_list' %}">
            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="edit category list">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </a>
        
            <button id="btn-search-note" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            
        <div id="search-note-form" style="margin-top: 12px; display: none">
            <input type="search" class="form-control search" id="inputSearch" placeholder="Search">
        </div>
    </h5>
    
    
    
    <ul class="list">
    {% for community in communities %}
        <hr style="margin: 15px">
        <h4 class="community-name">
            <span class="glyphicon glyphicon-user"></span>
            {{community.title}}
        </h4>
        
        {% if community.get_root_categories_by_community|length > 0 %}
            {% for cat in community.get_root_categories_by_community %}
                <li>
                    <b class="category-name">{{cat.name}}</b>
                
                <ul>
                    {% for kid in cat.category_set.all %}
                        <li>
                            <a class="subcategory-name" href="{% url 'topic_view' kid.id %}">
                                {{kid.name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
        {% else %}
            <div class='alert alert-info'>Nothing yet</div>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script>
    $("#btn-search-note").click(function(){
             $("#search-note-form").toggle();
             $(".search").focus();
    });
    /* Search option */
    var options = {
      valueNames: [ 'community-name', 'category-name', 'subcategory-name' ]
    };
    var categoryList = new List('category-list', options);
</script>


