<div id="category-list" class="list-group launcher category-list">
    <h5>
        Categories
        <a href="{% url 'category_list' %}">
            <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="edit category list">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </a>
        
        <button id="btn-search-note" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="search">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        
        <button id="btn-filter-communities" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="filter communities">
            <span class="glyphicon glyphicon-filter"></span>
        </button>
            
        <div id="search-note-form" style="margin-top: 12px; display: none">
            <input type="search" class="form-control search" id="inputSearch" placeholder="Search">
        </div>
        
        <div id="filter-communities-form" style="margin-top: 12px; display: none">
            <ul class="list-group" style="list-style-type: none; padding-left: 0px;text-align: center;">
                {% for community in all_communities_list %}
                    <li class="list-group-item">
                        {{community.community.name}}
                        {% if community.user_visa == 1 %}
                            <span class="glyphicon glyphicon-ok" style="color:#56db3a;"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                        {% endif %}
                        <button style="float: right" id="btn-enable-community-{{community.id}}" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="right" title="enable/disable this community">
							<span class="glyphicon glyphicon-off"></span>
						</button>
                    </li>
                    
                    <script>
                        $("#btn-enable-community-{{community.id}}").click(function(){
                            $.ajax({
                                type: "POST",
                                url: "{% url 'community_toggle_community' community.community.id %}",
                                success: function(result){
                                    location.reload();
                                }
                            });
                        });
                    </script>
                {% endfor %}
            </ul>
        </div>
    </h5>
    <hr style="margin: 10px">
    
    
    
    <ul class="list list-group" style="padding-left: 0px; margin-bottom: 0px;text-align: center;">
    {% for community in communities %}
        <li class="list-group-item" style="background-color: #d1dae0; padding: 1px 15px;">
        <h4 class="community-name">
            {% if community.owner == user %}
                <span class="glyphicon glyphicon-user"></span>
                {{community.title}}
            {% else %}
                <span class="glyphicon glyphicon-globe"></span>
                {{community.title}}
                ({{community.owner.username}})
            {% endif %}
            
        </h4>
        </li>
        
        {% if community.get_root_categories_by_community|length > 0 %}
            {% for cat in community.get_root_categories_by_community %}
                <li class="list-group-item" style="padding: 10px 2px 2px 2px">
                    <b class="category-name">{{cat.name}}</b>
                
                    <div class="list-group" style="margin-bottom: 0px">
                    {% for kid in cat.category_set.all %}
                        {% if kid.name == category.name %}
                            <a style="padding: 2px 15px" class="subcategory-name list-group-item active" href="{% url 'topic_view' kid.id %}">
                        {% else %}
                            <a style="padding: 2px 15px" class="subcategory-name list-group-item" href="{% url 'topic_view' kid.id %}">
                        {% endif %}
                                {{kid.name}}
                            </a>
                    {% endfor %}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <div class='alert alert-info'>Nothing yet</div>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script>
    $("#btn-search-note").click(function(){
             $("#search-note-form").toggle();
             $(".search").focus();
    });
    /* Search option */
    var options = {
      valueNames: [ 'community-name', 'category-name', 'subcategory-name' ]
    };
    var categoryList = new List('category-list', options);
</script>

<script>
    $("#btn-filter-communities").click(function(){
             $("#filter-communities-form").toggle();
             $(".search").focus();
    });
</script>


