{% extends "base.html" %}

{% load static %}
{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/bugzilla.css' %}">
{% endblock %}

{% block left_nav %}
    <div class="list-group">
        <a href="{% url "application_list" %}"><button type="button" class="btn btn-default btn-lg btn-block">Applications</button></a>
        <a href="{% url "notes_list" %}"><button type="button" class="btn btn-default btn-lg btn-block">Notes</button></a>
        <a href="{% url "bugzilla_list" %}"><button type="button" class="btn btn-primary btn-lg btn-block">Bugzilla</button></a>
    </div>
    
    <div class="list-group launcher">
        {% block launcher %}
                <button type="button" class="btn btn-default" data-toggle="modal"  data-target="#bugzillaModal">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
        {% endblock %}
    </div>
    
    {% if qs_state or qs_owner or qs_title or qs_application %}
        <div class="list-group launcher search_active">
    {% else %}
        <div class="list-group launcher">
    {% endif %}
        <h5>Search</h5>
        {% include "bugzilla/snippet_form_search.html" with form=search_form %}
    </div>
    
    <div class="list-group launcher">
        <h5>State</h5>
        {% for state in states %}
            {% if qs_state == state.0 %}
                <a href="{% url 'bugzilla_list'%}?qs_state={{state.0}}"><button type="button" class="btn btn-primary btn-block">{{state.1}}</button></a>
            {% else %}
                <a href="{% url 'bugzilla_list'%}?qs_state={{state.0}}"><button type="button" class="btn btn-default btn-block">{{state.1}}</button></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block title %} Bugzilla {% endblock %}