{% extends "bugzilla/base_bugzilla.html" %}


{% block title %}
    Bugzilla
    {% if qs_title %}
        <button type="button" class="btn btn-default btn-lg">Title : {{qs_title}}</button>
    {% endif %}
    {% if qs_owner %}
        <button type="button" class="btn btn-default btn-lg">Owner : {{qs_owner}}</button>
    {% endif %}
    {% if qs_application %}
        <button type="button" class="btn btn-default btn-lg">App : {{qs_application}}</button>
    {% endif %}
    {% if qs_state %}
        <button type="button" class="btn btn-default btn-lg">State : {{qs_state}}</button>
    {% endif %}

{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="bugzillaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">new bugzilla</h4>
          </div>
          
          <div class="modal-body">
                {% include "bugzilla/snippet_form_bugzilla.html" with form=bugzilla_form%}
          </div>
          
        </div>
      </div>
    </div>
    
    <h2>Bugzilla list</h2>
    {% for bug in bugzilla_list %}
        {% include "bugzilla/snippet_bugzilla_div.html" %}
    {% endfor %}
{% endblock %}