{% extends "bugzilla/base_bugzilla.html" %}

{% block content %}
    <h3>Search</h3>
    <p>
        {% if qs_title %}
            Title : {{qs_title}}
        {% endif %}
        {% if qs_owner %}
            and Owner : {{qs_owner}}
        {% endif %}
        {% if qs_state %}
            and State : {{qs_state}}
        {% endif %}
    </p>
    <h2>Bugzilla list</h2>
    {% for bug in bugzilla_list %}
        
    <div class="panel panel-default">
        {% if bug.state == 'open' %}
            <table class="table table-bordered bugzilla bugzilla-open">
        {% elif bug.state == 'close' %}
            <table class="table table-bordered bugzilla bugzilla-close">
        {% elif bug.state == 'info' %}
            <table class="table table-bordered bugzilla bugzilla-info">
        {% else %}
            <table class="table table-bordered">
        {% endif %}
            <tr>
                <th style="text-align: center">
                    <span style="float: left">[{{bug.application.name}}]</span>
                    {{bug.title}}
                    
                    <span style="float: right">
                        ({{bug.owner.username}})
                        {% if user.username == bug.owner.username %}
                            <a href="{% url 'bugzilla_update' bug.id %}">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                            <a href="">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </a>
                        {% endif %}
                    </span>
                </th>
            </tr>
            <tr>
                <td>{{bug.content|safe}}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
{% endblock %}