{% extends "base.html" %}

{% block left_nav %}
    <div class="list-group launcher">
        <h4>Shortcuts</h4>
        {% for service in service_list %}
            <a href="{{service.servicewebserver.getFQDN}}" target="_blank">
                
                    {% if service.active == 1 %}
                        <button type="button" class="btn btn-default btn-block">
                    {% else %}
                        <button type="button" class="btn btn-default btn-block" style="background-color: grey">
                    {% endif %}
                        {{service.name}}
                        {% if service.servicewebserver.isOnline == 1 %}
                            <span class="glyphicon glyphicon-ok"  style="color:#56db3a"></span>
                        {% else %}
                             <span class="glyphicon glyphicon-remove" style="color: red"></span>
                        {% endif %}
                    </button>                
            </a>
        {% endfor %}
    </div>
    
    {% include 'category/snippet_category_list.html' with communities=community_list%}
    
{% endblock %}

{% block page_title %} Heimdall {% endblock %}
{% block title %} Home {% endblock %}

{% block content %}
    <h3>Bookmark</h3>
    {% include 'bookmark/snippet_form_bookmark.html' %}
    
    <h3>Applications</h3>
    <ul class="list-group">
        {% for appli in application_list %}
            <div class="col-lg-4 col-xs-12">
                <a class="list-group-item" href="{% url 'application_view' appli.id %}" style="text-align: center">
                    <strong>{{appli.name}}</strong>
                    <span class="badge">{{appli.node_set.all|length}}</span>
                </a>
            </div>
        {% endfor %}
    </ul>
    
    <div class="row">
        <div class="col-lg-4">
        <h3>Mapping</h3>
        <h4>Host (KVM hypervisor)</h4>
            <a href="{% url 'host_list' %}">
            <div class="object_description">
                List every nodes (guests) per host and their attributes.
                Infos imported from the Foreman server
            </div>
            </a>
        
        <h4>Application</h4>
            <a href="{% url 'application_list' %}">
            <div class="object_description">
                List of applications and nodes / services associated    
            </div>
            </a>
            
        <h4>Network</h4>
            <a href="{% url 'network_list' %}">
            <div class="object_description">
                List all virtual networks and the node associated    
            </div>
            </a>
        </div>   
            
        <div class="col-lg-4">
        <h3>Monitoring</h3>
        <h4>By host/node</h4>
            <a href="{% url 'monitoring_home' %}">
            <div class="object_description">
                Gives every graphs and stats for a given server
                (CPU, RAM, network activity, etc)
            </div>
            </a>
                
        <h4>By type of resource</h4>
            <div class="object_description">
                Profiling 
            </div>
        </div>
        
        <div class="col-lg-4">
        <h3>Notes / Documents</h3>
        <h4>Topic</h4>
            <a href="{% url 'notes_list' %}">
            <div class="object_description">
                list of notes, bookmarks and files by categories (topic)
            </div>
            </a>
                
        <h4>Bugzilla</h4>
            <a href="{% url 'bugzilla_list' %}">
            <div class="object_description">
                bugs 
            </div>
            </a>
        </div>
    </div>
    
    <h3>Recent notes</h3>
    {% if recent_notes_list %}
        {% for note in recent_notes_list %}
            {% include "notes/snippet_note_div.html" %}
        {% endfor %}
    {% else %}
        <div class="alert alert-info">No new note in the last 3 days</div>
    {% endif %}
{% endblock %}