{% extends "base.html" %}

{% block left_nav %}
    <div class="list-group launcher">
        <h4>Shortcuts</h4>
        {% for service in service_list %}
            <a href="{{service.servicewebserver.getFQDN}}" target="_blank">
                
                    <button type="button" class="btn btn-default btn-block bg-success">
                        {{service.name}}
                        {% if service.servicewebserver.isOnline == 1 %}
                            <span class="glyphicon glyphicon-ok"  style="color:#56db3a"></span>
                        {% else %}
                             <span class="glyphicon glyphicon-remove" style="color: red"></span>
                        {% endif %}
                    </button>                
            </a>
        {% endfor %}
    </div>
    
    <div class="list-group launcher category-list">
        <h5>
            Categories
            <a href="{% url 'category_list' %}">
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="bottom" title="edit category list">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
            </a>
        </h5>
        <hr>
        <ul>
        {% for cat in root_category_list %}
            <li><b>{{cat.name}}</b></li>
            <ul>
                {% for kid in cat.category_set.all %}
                    <li>
                        <a href="{% url 'topic_view' kid.id %}">
                            {{kid.name}}
                        </a>
                    </li>
                    {% comment%}
                    <ul>
                        {% for grandkid in kid.category_set.all %}
                            <li>{{grandkid.name}}</li>
                        {% endfor %}
                    </ul>
                {% endcomment %}
                {% endfor %}
            </ul>
        {% endfor %}
         </ul>
    </div>
{% endblock %}

{% block page_title %} Heimdall {% endblock %}
{% block title %} Home {% endblock %}

{% block content %}
    <h3>Bookmark</h3>
    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            {{ form.url.errors }}
            <label for="{{ form.url.id_for_label }}">URL</label>
            {{ form.url }}
        </div>
        <input class="btn btn-default btn-bookmark" type="submit" value="add Bookmark" />
    </form>    
    
    <div class="row">
        <div class="col-lg-4">
        <h3>Mapping</h3>
        <h4>Host (KVM hypervisor)</h4>
            <a href="{% url 'host_list' %}">
            <div class="object_description">
                List every nodes (guests) per host and their attributes.
                Infos imported from the Foreman server
            </div>
            </a>
        
        <h4>Application</h4>
            <a href="{% url 'application_list' %}">
            <div class="object_description">
                List of applications and nodes / services associated    
            </div>
            </a>
            
        <h4>Network</h4>
            <a href="{% url 'network_list' %}">
            <div class="object_description">
                List all virtual networks and the node associated    
            </div>
            </a>
        </div>   
            
        <div class="col-lg-4">
        <h3>Monitoring</h3>
        <h4>By host/node</h4>
            <a href="{% url 'monitoring_home' %}">
            <div class="object_description">
                Gives every graphs and stats for a given server
                (CPU, RAM, network activity, etc)
            </div>
            </a>
                
        <h4>By type of resource</h4>
            <div class="object_description">
                Profiling 
            </div>
        </div>
        
        <div class="col-lg-4">
        <h3>Notes / Documents</h3>
        <h4>Topic</h4>
            <a href="{% url 'notes_list' %}">
            <div class="object_description">
                list of notes, bookmarks and files by categories (topic)
            </div>
            </a>
                
        <h4>Bugzilla</h4>
            <a href="{% url 'bugzilla_list' %}">
            <div class="object_description">
                bugs 
            </div>
            </a>
        </div>
    </div>
    
    <h3>Recent notes</h3>
    {% for note in recent_notes_list %}
        {% include "notes/snippet_note_div.html" %}
    {% endfor %}
{% endblock %}