
<table class="table table-bordered table-striped table-hover service">
<tr>
    <th colspan="2" style="text-align: center">
        <b>{{service.name}}</b> ({{service.servicewebserver.family}})
        {% if service.active == 0 %}
            <span class="glyphicon glyphicon-remove" style="color: red"></span>
        {% endif %}
        {% if user.username == appli.owner.username %}
            <a href="{% url 'service_delete' appli.id service.id %}">
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="delete service" style="float: right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </a>
            <a href="{% url 'service_webserver_update' appli.id service.id %}">
                <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="edit service" style="float: right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
        {% endif %}
        <button type="button" class="btn btn-default btn-xs btn_service_description_{{service.id}}" style="float: right">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <script>
            $("document").ready(function(){
                $(".btn_service_description_{{service.id}}").hover(function(){
                    $(".service_line_{{service.id}}").toggle();
                    $(".service_description_{{service.id}}").toggle();
                });
            });
        </script>
    </th>
</tr>

<tr class="object_description service_description_{{service.id}}" style="display: none">
    <td>{{service.description|safe}}</td>
</tr>

<tr class="service_line_{{service.id}}">
     <th>public URL</th>
     <td>
                <a href="{{service.servicewebserver.getFQDN}}" target="_blank">
                                {{service.servicewebserver.getFQDN}}
                </a>
    </td>
</tr>
<tr class="service_line_{{service.id}}">
    <th>Node</th>
    <td>{{service.node.name}}</td>
</tr>
<tr class="service_line_{{service.id}}">
    <th>local URL</th>
    <td>{{service.servicewebserver.protocol}}://{{service.servicewebserver.ip}}:{{service.servicewebserver.port}}</td>
</tr>
<tr class="service_line_{{service.id}}">
    <th>Reverse proxy</th>
    <td>{{service.servicewebserver.reverse_proxy}} ({{service.servicewebserver.reverse_proxy.ip}})</td>
</tr>
</table>