{% extends "munin/base_munin_server.html" %}

{% block title %} Node {{node.name}} {% endblock %}

{% block content %}
    <div class="row">
        <h2>System</h2>
        {% if node.munin_server.checkApi %}
            {% for metric in metric_list %}
                <div class="col-lg-6">
                    <img src="{% url 'pic' 'node' node.id metric resource_time %}" style="width: 100%">
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">Munin unreachable</div>
        {% endif %}
        {{debug}}
    </div>
    <div class="row">
        <h2>Network</h2>
        {% if node.munin_server.checkApi %}
            {% for metric in network_metric_list %}
                <div class="col-lg-6">
                    <img src="{% url 'pic' 'node' node.id metric resource_time %}" style="width: 100%">
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger" role="alert">Munin unreachable</div>
        {% endif %}
    </div>
{% endblock %}
