.category-list ul {
    padding-left: 35px;
    text-align: left;
    
}

.category-list ul ul, .category-list ul ul ul {
    padding-left: 20px;
}

.btn-bookmark {
    color: white;
    background-color: #4caf50;
}

.bookmark-list li {
    line-height: 30px;
}

.note {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.header-line {
    background-color: #d1dae0;
}

.header-line > th {
    font-size: 17px;
}

.header-line > th > span {
    font-size: 11px;
    text-align: center;
}

.subheader-line {
    display: none;
    background-color: #f0f2f5;
}

.note-content {
    text-align: left;
}