{% extends "nextcloud/base_nextcloud.html" %}

{% block title %}Nextcloud{%endblock %}

{% block content %}
    <h3>File list</h3>
    <ul>
        {% for topic in topic_list %}
            {% if topic.get_file_list %}
                <li>{{topic.name}}</li>
                <ul>
                    {% for file in topic.get_file_list %}
                        <li>
                            <a href="{{file.uploaded_file.url}}" target="_blank">
                                {{file.original_name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
    
    <h2>Videos</h2>
    <video controls>
        <source src="{{media_url}}videos/american_dad.mp4" type="video/mp4">
        <p>Your browser doesn't support HTML5 video. Here is a <a href="american_dad.mp4">link to the video</a> instead.</p>
    </video>
{% endblock %}