{% extends "nextcloud/base_nextcloud.html" %}

{% block title %}Nextcloud{%endblock %}

{% block content %}
    <p>Connected to {{path}}</p>
    <h3>File list</h3>
    <ul>
        {% for file in file_list %}
            <li>{{file}}</li>
        {% endfor %}
    </ul>
    
    <h3>test list</h3>
    <ul>
    {% for dir in test_list %}
        <li>{{dir}}</li>
        <ul>
        {% for fic in dir %}
            <li>{{fic}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endblock %}