{% extends "notes/base_notes.html" %}

{% block left_nav %}
    <div class="list-group launcher">
        {% block launcher %}
            <button type="button" class="btn btn-default"  data-toggle="modal"  data-target="#noteModal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            
        {% endblock %}
    </div>
    {{block.super}}
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">new Note</h4>
          </div>
          
          <div class="modal-body">
                {% include "notes/snippet_form_note.html" with form=notes_form%}
          </div>
          
        </div>
      </div>
    </div>
    
    {% for note in notes_list %}
        {% include "notes/snippet_note.html" %}
    {% endfor %}
{% endblock %}
        