{% extends "notes/base_notes.html" %}

{% block title %} Deleting note "<i>{{notes_to_delete.title}}</i>" {% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        You are about to delete the note {{notes_to_delete.title}}
    </div>
    
    {% if note.notesfile_set.all|length > 0 %}
        <div class="alert alert-warning" role="alert">
            You have to delete the files first
        </div>
    {% endif %}
    
    {% include "notes/snippet_note_div.html" with note=notes_to_delete %}
    <form method="post" action="">
        {% csrf_token %}
        <input class="btn-submit" type="submit" value="Proceed" />
        <a href="{% url "topic_view" notes_to_delete.category.id %}">
            <button type="button" class="btn-cancel">Cancel</button>
        </a>
    </form>
{% endblock %}