{% extends "notes/base_notes.html" %}

{% block launcher %}
    <a href="{% url 'notes_list' %}">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </a>
{% endblock %}

{% block title %}Create new Note {%endblock%}

{% block content %}
    {% load crispy_forms_tags %}
        {#form|crispy#}
        {% crispy form%}
		
        {%comment%}
        <div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<input class="btn-submit" type="submit" value="Submit" />
					<a href="{% url 'notes_list' %}"><button type="button" class="btn-cancel">Cancel</button></a>
				</div>
			</div>
        </div>
        {% endcomment %}
    
    <script type="text/javascript">
		CKEDITOR.replace( 'id_content' );
	</script>
{% endblock %}