{% if note_to_edit %}
	<form action="{% url 'notes_update' category.id note_to_edit.id %}" enctype="multipart/form-data" method="post">
{% else %}
	<form action="{% url 'notes_create' category.id%}" enctype="multipart/form-data" method="post">
{% endif %}
        {% csrf_token %}
        
		<div class="col-lg-4">
			<div class="input-group">
                {{ form.non_field_errors }}
                    {{ form.title.errors }}
                    <div class="input-group-addon"><b>Title</b></div>
                    {{ form.title }}
			</div>
			{{ form.uploaded_files.errors }}
			<label for="{{ form.uploaded_files.id_for_label }}">add file</label>
			<input id="id_uploaded_files_0" name="uploaded_files" multiple="" type="file">
		</div>
        
		<div class="col-lg-3">
			<div class="form-group">
				{{ form.state.errors }}
				<label for="{{ form.title.id_for_label }}">State</label>
				{{ form.state }}
			</div>
			<div class="form-group">			
				{{ form.public.errors }}
				<label for="{{ form.public.id_for_label }}">Public</label>
				{{ form.public }}
				
				{{ form.shared.errors }}
				<label for="{{ form.shared.id_for_label }}">Shared</label>
				{{ form.shared }}
			</div>
		</div>
				
				
        <div class="col-lg-5" style="overflow: scroll">
		{% if upfiles %}
			<label for="{{ form.uploaded_files.id_for_label }}">existing files</label>
			<ul>
			{% for file in upfiles %}
				<li id="file_{{file.id}}">
					{{file.original_name}}
					<button id="del_file_{{file.id}}" style="color: red" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="delete this file">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<script>
						$("#del_file_{{file.id}}").click(function(){
							$.ajax({
								type: "POST",
								url: "{% url 'notes_file_delete' file.id %}",
								success: function(result){
									$("#file_{{file.id}}").hide();
								}
							});
						});
					</script>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	
	
	<div class="row">
		<div class="col-lg-12">
			{{form.content.errors}}
			{{form.content}}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group" style="margin-bottom: 0px">
				<input class="btn-submit" type="submit" value="Submit" />
				{% if note_to_edit %}
					<a href="{% url 'topic_view' note_to_edit.category.id %}"><button type="button" class="btn-cancel">Cancel</button></a>
				{% elif category %}
					<a href="{% url 'topic_view' category.id %}"><button type="button" class="btn-cancel">Cancel</button></a>
				{% else %}
					<a href="{% url 'notes_list' %}"><button type="button" class="btn-cancel">Cancel</button></a>
				{% endif %}
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	CKEDITOR.replace( 'id_content' );
</script>