{% extends "notes/base_notes.html" %}

{% block title %}Bookmarks{% endblock %}

{% block content %}
   {% include 'bookmark/snippet_form_bookmark.html' %}
     
   
   <h3>My bookmarks</h3>
   <ul>
      <li><b>UNSORTED</b></li>
       <ul class="bookmark-list">
         {% for book in unsorted_bookmark_list %}
            {% include "bookmark/snippet_bookmark_list.html" %}
         {% endfor %}
      </ul>
       
   {# for community in community_list #}
      {% for cat in category_list %}
      {# for cat in community.get_root_categories_by_community #}
         {% if cat.get_nb_total_bookmark > 0 %}
            <hr>
             <li>
               {% if cat.category_set.all|length == 0%}
                  <span style="color: red;" data-toggle="tooltip" data-placement="right" title="you have to create subcategories to add a bookmark"><b>{{cat.name|upper}}</b></span>
               {% else %}
                  <b>{{cat.name|upper}} <span class="badge">{{cat.get_nb_total_bookmark}}</span></b>
               {% endif %} 
             </li>
          
            <ul class="bookmark-list">
              {% for book in cat.bookmark_set.all %}
                 {% include "bookmark/snippet_bookmark_list.html" %}
              {% endfor %}
           </ul>
            <ul>
                {% for kid in cat.category_set.all %}
                   {% if kid.get_nb_total_bookmark > 0 %}
                    <li><b>{{kid.name|upper}}</b></li>
                    <ul class="bookmark-list">
                        {% for book in kid.bookmark_set.all %}
                           {% include "bookmark/snippet_bookmark_list.html" %}
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for grandkid in kid.category_set.all %}
                          {% if grandkid.bookmark_set.all|length > 0%}
                             <li><b>{{grandkid.name|upper}}</b></li>
                                <ul class="bookmark-list">
                                   {% for book in grandkid.bookmark_set.all %}
                                      {% include "bookmark/snippet_bookmark_list.html" %}
                                   {% endfor %}
                                </ul>
                          {% endif %}
                        {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
            </ul>
         {% endif %}
      {% endfor %}
   {# endfor #}
   </ul>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          
          <div class="modal-body">
                <iframe id="myIframe" style="width: 100%; height: 500px;"></iframe>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}


{% block javascripts %}
    {{block.super}}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipient = button.data('myurl'); // Extract info from data-* attributes
                var modal = $(this);
                modal.find('.modal-title').text('Page : ' + recipient);
                $('#myIframe').attr('src',recipient);
            });
        });
    </script>
{% endblock %}

