{% extends "foreman/base_foreman.html" %}

{% block launcher %}
    <a href="{% url 'foreman_list' %}">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </a>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {{form.as_p}}
        </div>
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
{% endblock %}