{% extends "layout.html" %}

{% block title %}Heimdall{% endblock %}

{% load static %}

{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{% static 'pictures/favicon.ico' %}" />
    
	<!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       
       <link rel="stylesheet" href="{% static 'css/base.css' %}">
       <link rel="stylesheet" href="{% static 'css/layout.css' %}">
       <link rel="stylesheet" href="{% static 'css/color.css' %}">
	   <link rel="stylesheet" href="{% static 'css/notes.css' %}">
	   <link rel="stylesheet" href="{% static 'css/monitoring.css' %}">
	
		<script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>	
		
{% endblock %}

{% block menu %}  
	{% include "menu.html" %}
{% endblock %}


{% block messages %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible" role="{{message.tags}}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block javascripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Tooltip module Bootstrap-->
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          });
    </script>
{% endblock %}