{% extends "notes/base_notes.html" %}

{% block title %}topic <i>{{category.parent.name|upper}}</i> > <i>{{category.name|upper}}</i> {% endblock %}

{% block content %}
    <h3>Bookmark list</h3>
    <ul class="bookmark-list">
        {% for book in bookmark_list %}
            {% include "bookmark/snippet_bookmark_list.html" %}
        {% endfor %}
    </ul>
    
    <h3>Notes list</h3>
    {% for note in notes_list %}
       {% include "notes/snippet_note.html" %}
    {% endfor %}
    
    <h3>Files</h3>
    <p>Coming soon...</p>
    <ul>
    {% for note in notes_list %}
        {% for file in note.notesfile_set.all %}
            <li>
                <a href="{{file.uploaded_file.url}}">
                    {{file.short_name}}
                </a>
                    ({{file.uploaded_file.size|filesizeformat}})
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}