{% extends "notes/base_notes.html" %}

{% block title %}<i>{{category.parent.name|upper}}</i> > <i>{{category.name|upper}}</i> {% endblock %}

{% block content %}
    <h3>
        Bookmark list
        {% if category.community.owner == user or community_user.0.can_add == 1%}
        <button id="btn-add-bookmark" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="add new bookmark">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        
        <script>
            $("#btn-add-bookmark").click(function(){
                $("#form-bookmark").toggle();
            });
        </script>
    {% endif %}
    </h3>
    
    <div style="display: none" id="form-bookmark" >
        {% include "bookmark/snippet_form_bookmark.html" %}
    </div>
    
    <ul class="bookmark-list">
        {% for book in bookmark_list %}
            {% include "bookmark/snippet_bookmark_list.html" %}
        {% endfor %}
    </ul>
    
    <h3>
        Notes list
        {% if category.community.owner == user or community_user.0.can_add == 1%}
            <button id="btn-add-note" type="button" class="btn btn-default btn-xs" data-toggle="modal"  data-target="#noteModal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        {% endif %}
        <button id="btn-hide-notes" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="hide all notes">
            <span class="glyphicon glyphicon-menu-up"></span>
        </button>
        <button style="display: none" id="btn-show-notes" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="show all notes">
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <script>
            $("#btn-hide-notes").click(function(){
                $(".panel-body").hide();
                $("#btn-show-notes").show();
                $(this).hide();
            });
            $("#btn-show-notes").click(function(){
                $(".panel-body").show();
                $("#btn-hide-notes").show();
                $(this).hide();
            });
        </script>
    </h3>
    
    {% for note in notes_list %}
       {% include "notes/snippet_note_div.html" %}
    {% endfor %}
    
    <!-- Modal -->
    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">new note on category "<i>{{category.name}}</i>"</h4>
          </div>
          
          <div class="modal-body">
                {% include "notes/snippet_form_note.html" %}
          </div>
          
        </div>
      </div>
    </div>
    
    
    
    <h3>Files</h3>
    <ul>
    {% for note in notes_list %}
        {% for file in note.notesfile_set.all %}
            {% if file.is_present %}
                <li>
                    <a href="{{file.uploaded_file.url}}">
                        {{file.short_name}}
                    </a>
                        ({{file.uploaded_file.size|filesizeformat}})
                </li>
            {%else %}
                <div class="alert alert-danger" role="alert">{{file.uploaded_file.name}} has been deleted...</div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
    
{% endblock %}