{% extends "application/base_application.html" %}

{% block title %}Application {{appli.name}} ({{appli.identifier}}){% endblock %}

{% block launcher %}
    <a href="{% url 'application_list' %}">
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="back to the application list">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
    </a>
    {% if user.username == appli.owner.username %}
        <a href="{% url 'application_update' appli.id %}">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="edit this application">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
        <a href="{% url 'application_delete' appli.id %}">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="delete this application">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </a>
    {% endif %}
{% endblock %}


{% block launcher2 %}
    {% if creation_from_heimdall and user.username == appli.owner.username%}
    <div class="list-group launcher">
        <a href="{% url 'node_create' appli.id %}">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="add new nodee">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </a>
    </div>
    {% endif %}
{% endblock %}


{% block content %}
    <h3>Description</h3>
    <div class="object_description">
        {{appli.description|safe}}
    </div>
    
    <h4>Public URL :</h4>
        {% if appli %}
            <ul>
            {% for service in appli.service_set.all %}
                {% if service.servicewebserver %}
                    <li>
                        <a href="{{service.servicewebserver.getFQDN}}" target="_blank">{{service.servicewebserver.getFQDN}}</a>
                        (through reverse : {{service.servicewebserver.reverse_proxy.node.name}} ({{service.servicewebserver.reverse_proxy.ip}}))
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info" role="alert">No webserver with public access</div>
        {% endif %}

    
    
    <h3>VMs attached <span class="badge">{{appli.node_set.all|length}}</span></h3>
    {% if appli.node_set.all %}
        <table class="table table-bordered table-striped">
            <tr>
                <th>Node name</th>
                <th>Description</th>
                <th>Last check/update</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for node in appli.node_set.all %}
                {% include "host/snippet_nodes_list.html" %}
            {% empty %}
                <div class="alert alert-info" role="alert">No node in Heimdall for {{appli.name}}</div>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">No node in Heimdall for {{appli.name}}</div>
    {% endif %}
    
    
    
    <h3>Network links</h3>
    {% if appli.node_set.all %}
        <table class="table table-bordered table-striped">
            <tr>
                <th rowspan="2">Node</th>
                <th colspan="4" style="text-align: center">Network</th>
            </tr>
            <tr>
            {% for network in network_list %}
                <th>{{network.name}}</th>
            {% endfor %}
            </tr>
            
            {% for node in appli.node_set.all %}
                <tr>
                    <td>{{node.name}}</td>
                    {% for network in network_list %}
                        {% for net in node.networklink_set.all %}
                            {% if network.id == net.network.id %}
                                <td>{{net.ip}}</td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    
    
    
    
    <div class="dropdown">
        <h3>
            Services <span class="badge">{{appli.service_set.all|length}}</span>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                New
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'service_webserver_create' appli.id %}">Web server</a></li>
              <li><a href="{% url 'service_reverseproxy_create' appli.id %}">Reverse proxy</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'service_database_create' appli.id %}">Database</a></li>
            </ul>
        </h3>
    </div>

    {% if appli.service_set.all %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#webserver" aria-controls="webserver" role="tab" data-toggle="tab">
                        Webservice  ({{servicewebserver_list|length}})
                    </a>
                </li>
                <li role="presentation">
                    <a href="#reverse" aria-controls="reverse" role="tab" data-toggle="tab">
                        Reverse  ({{servicereverseproxy_list|length}})
                    </a>
                </li>
                <li role="presentation">
                    <a href="#database" aria-controls="database" role="tab" data-toggle="tab">
                        Database  ({{servicedatabase_list|length}})
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    {% comment %}
                    <a id="myTabDrop1" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">
                        New
                        <span class="caret"></span>
                    </a>
                {% endcomment %}
                    <ul id="myTabDrop1-contents" class="dropdown-menu" aria-labelledby="myTabDrop1">
                        <li><a id="dropdown1-tab" href="#dropdown1" role="tab" data-toggle="tab" aria-controls="dropdown1">Web server</a></li>
                        <li><a id="dropdown2-tab" href="#dropdown2" role="tab" data-toggle="tab" aria-controls="dropdown2">Reverse proxy</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="dropdown3-tab" href="#dropdown3" role="tab" data-toggle="tab" aria-controls="dropdown3">Database</a></li>
                    </ul>
                </li>
            </ul>
            
             <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="webserver">
                    {% if servicewebserver_list %}
                        {% for service in servicewebserver_list %}
                            {% include "service/snippet/snippet_servicewebserver.html" %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">No web service</div>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="reverse">
                    {% if servicereverseproxy_list %}
                        {% for service in servicereverseproxy_list %}
                            {% include "service/snippet/snippet_servicereverseproxy.html" %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">No reverse proxy</div>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane" id="database">
                    {% if servicedatabase_list%}
                        {% for service in servicedatabase_list %}
                            {% include "service/snippet/snippet_servicedatabase.html" %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info" role="alert">No database</div>
                    {% endif %}
                </div>
                
                {% comment %}
                <div role="tabpanel" class="tab-pane" id="dropdown1">
                    {% include "service/forms/form_servicewebserver.html" %}
                </div>
                <div role="tabpanel" class="tab-pane" id="dropdown2">
                    {# include "service/forms/form_servicereverseproxy.html" #}
                </div>
                <div role="tabpanel" class="tab-pane" id="dropdown3">
                    {# include "service/forms/form_servicedatabase.html" #}
                </div>
                {%endcomment %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">No service attached</div>
    {% endif %}
    
    

    <h3>Bugzilla <span class="badge">{{bugzilla_opened_list|length}}</span></h3>
    {% if appli.bugzilla_set.all %}
        <p>Bug still open :</p>
        <ul>
            {% for bugzilla in bugzilla_opened_list %}
                <li>
                    <a href="{% url 'bugzilla_list' %}"> {{bugzilla.title}} </a> (opened in {{bugzilla.date_creation}} by {{bugzilla.owner}})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">No bugzilla open</div>
    {% endif %}
    <br>
{% endblock %}