{% extends "base.html" %}

{% block left_nav %}
    <div class="list-group">
        <a href="{% url "application_list" %}"><button type="button" class="btn btn-default btn-lg btn-block">Applications</button></a>
        <a href="{% url "host_list" %}"><button type="button" class="btn btn-default btn-lg btn-block">Hosts</button></a>
        <a href="{% url "monitoring_home" %}"><button type="button" class="btn btn-primary btn-lg btn-block">Monitoring</button></a>
    </div>
    
    <div class="launcher">
        {% block launcher %}
            <a href="{% url 'munin_create' %}">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        {% endblock %}
    </div>
    
    <div class="launcher">
        {% block object_list %}
            <h4>Host list</h4>
            <div class="list-group">
                {% for host_item in host_list %}
                    {% if host_item.name == host.name or host_item.name == node.host.name %}
                        <a href="{% url 'munin_host_view' host_item.id 'day' %}" class="list-group-item active"> {{host_item.name}} </a>
                    {% else %}
                        <a href="{% url 'munin_host_view' host_item.id 'day' %}" class="list-group-item"> {{host_item.name}} </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}


{% block title %} Monitoring home {% endblock %}

{% block content %}
 
    <h2>Munin servers</h2>
    {% if munin_server_list %}
        {% for munin in munin_server_list %}
            <h3>
                {{munin.server.name}}
                {% if munin.checkApi %}
                    <span class="label label-success">OK</span>
                {% else %}
                    <span class="label label-danger">unreachable</span>
                {% endif %}
                <a href="{% url 'munin_update' munin.id %}">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </a>
            </h3>
                <ul>
                    <li>
                        @IP
                        {{munin.ip}}
                        {% if munin.server %}
                            (<a href="{% url 'node_view' munin.server.id %}">{{munin.server.name}}</a>)
                        {% endif %}
                        (external <a href="https://www.infra.quentin-david.ovh/munin/" target="_blank">link</a>)
                        ({{munin.method}})
                    </li>
                </ul>
                </ul>
                {% for appli in application_list %}
                
                    <ul class="list-group">
                        
                        <div class="col-lg-3 col-xs-12">
                            <li class="list-group-item list-item-appli">{{appli.name}}</li>
                        </div>
                        <div class="col-lg-9 col-xs-12">
                            {%for node in appli.node_set.all %}
                               <a class="list-group-item list-item-node" href="{% url 'munin_node_view' node.id 'day' %}">{{node}}</a>
                            {%endfor%}
                        </div>
                        
                    </ul>
                
                {% endfor %}
        {% endfor %}
    {% endif %}
    
    <h2>Profiling</h2>
    {% for host in host_list %}
        <div class="col-lg-5">
            <h4>{{host.name}}</h4>
            <ul>
            {% for metric,desc in metric_list.items %}
                <li><a href="{% url 'munin_profiling' host.id metric 'day' %}">{{desc}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <br>
{% endblock %}